@import url("../css/reset.css");

* {
    box-sizing: border-box;
    text-decoration: none;

}

/* ------------------------漢堡------------------------- */
.hamburger {
    padding: 15px 15px;
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 1s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible;
}


.hamburger:hover {
    opacity: 0.7;
}

.hamburger.is-active:hover {
    opacity: 0.7;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
    background-color: #000;
}

.hamburger-box {
    width: 40px;
    height: 24px;
    display: inline-block;
    position: relative;
}

.hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
    width: 40px;
    height: 4px;
    background-color: #000;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
}

.hamburger-inner::before,
.hamburger-inner::after {
    content: "";
    display: block;
}

.hamburger-inner::before {
    top: -10px;
}

.hamburger-inner::after {
    bottom: -10px;
}

.hamburger--vortex .hamburger-inner {
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1); }
    .hamburger--vortex .hamburger-inner::before, .hamburger--vortex .hamburger-inner::after {
      transition-duration: 0s;
      transition-delay: 0.1s;
      transition-timing-function: linear; }
    .hamburger--vortex .hamburger-inner::before {
      transition-property: top, opacity; }
    .hamburger--vortex .hamburger-inner::after {
      transition-property: bottom, transform; }
  
  .hamburger--vortex.is-active .hamburger-inner {
    transform: rotate(765deg);
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1); }
    .hamburger--vortex.is-active .hamburger-inner::before, .hamburger--vortex.is-active .hamburger-inner::after {
      transition-delay: 0s; }
    .hamburger--vortex.is-active .hamburger-inner::before {
      top: 0;
      opacity: 0; }
    .hamburger--vortex.is-active .hamburger-inner::after {
      bottom: 0;
      transform: rotate(90deg); }
  
/* ----------------漢堡------------- */

.wrapper {
    width: 1200px;
    margin: 0 auto;
}

/* 導覽列 */
nav {
    width: 1200px;
    height: 60px;
    background: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    text-align: center;
    line-height: 60px;
}

li {
    position: relative;
}

.nav_logo {
    margin-top: 5px;
    height: 50px;
    margin-left: 10px;
}

li a {
    padding: 0 20px;
    /* width: 120px;
    height: 60px; */
    display: block;
    background: rgb(255, 255, 255);
    color: #44A341;
    text-align: center;
}

li>a:hover {
    background: 44A341;
    color: #ffffff;
    background: #44A341;
}

ol {
    position: absolute;
}

ul>li>ol {
    display: none;
}

ul>li:hover ol {
    display: block;
}


/* 從style搬過來開始 */
footer {

    padding-top: 20px;

    background: #94B8A0;
}

.footer_txt {
    width: 1200px;
    margin: 0 auto;
}

.copyright {

    color: white;
    text-align: center;

}

.copyright p {

    padding: 20px 0;
}

.line {
    width: 100%;
    height: 2px;
    background: rgb(255, 255, 255);
}

.footer_txt_up {
    margin-top: -10px;
    display: flex;
    justify-content: space-between;
}

.footer_right img {
    margin-top: 60px;
    width: 30px;
    height: 30px;
}

.footer_left {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
    color: white;
    padding: 20px 0;
}

/* footer e-mail登入 */
.email {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin: 0 auto;
    width: 1200px;
    padding-top: 10px;
    padding-bottom: 10px;




}

.email .mail-1 {
    color: #ffffff;
    font-size: 28px;

}

footer form input {
    background-color: #94B8A0;
}

.email .mail-2 {
    color: white;
    height: 30px;
    width: 1000px;
    border: 0;

}

.email-btn {

    color: #ffffff;
    font-weight: bold;
    width: 60px;
    height: 30px;

    border: 1px solid #ffffff;
    cursor: pointer;
    margin-left: 47px;
    margin-bottom: 10px;
}

.email-btn:hover {
    color: #94B8A0;
    width: 60px;
    height: 30px;
    background: #ffffff;
    border: 2px solid #94B8A0;
    cursor: pointer;

}

.hamburger {
    display: none;
}

/* header的漢堡開始 */
@media screen and (max-width:428px) {

    .wrapper {
        width: 100%;
    }

    nav {
        width: auto;
        position: relative;
        
    }
    .hamburger{
        display: block;

    }
    /* nav .fa-solid {
        display: block;
        float: right;
        margin-top: 10px;
        margin-right: 10px;
        font-size: 30px;
    } */

    nav>ul {
        position: absolute;
        flex-direction: column;
        top: 60px;
        right: 0;
        width: 100%;
        z-index: 2;
        display: none;
    }

    li>a {
        border-bottom: 1px solid rgb(255, 255, 255);
        background: #44A341;
        color: #ffffff;
    }

    /* 很重要要先解開原本的position */
    nav ul li ol {

        position: static;
    }

    /* 很重要要先解開原本的position */


    /* footer開始 */
    .email {
        display: none;
    }

    footer {
        padding: 0 10px;
    }

    .footer_txt {
        width: auto;
    }

    .copyright {
        font-size: 12px;
        text-align: center;
    }

    .copyright p {
        padding: 0;
    }

    .line {
        margin-bottom: 5px;
    }

    .footer_right img {
        margin: 0;
        margin-top: 10px;
        margin-right: 10px;


    }

    .footer_left {
        font-size: 14px;
        padding: 10px 0;
    }
}