/* banner開始 */
* {
    box-sizing: border-box;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

}

.wave_banner_up {

    background-image: url("../img/news_bg.png");
    background-repeat: repeat-x;
    background-position: 0 300px;
}

.main_banner {
    width: 1200px;
    margin: 0 auto;
    display: flex;
}

.left_banner {
    background-image: url("../img/maskgroup.png");
    width: 1200px;
    height: 600px;
    background-repeat: no-repeat;
    border-radius: 0 0 20px 0;


}

.right_banner {
    display: flex;
}

.right_icon {
    display: flex;
    margin-left: -60px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.right_icon a {
    opacity: 1;
}

.right_icon a:hover {
    opacity: .3;
}

.left_banner h3 {
    color: #44A341;
    font-size: 40px;
    margin-top: -20px;
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;



}

.left_banner h2 {
    color: #44A341;
    font-size: 100px;
    margin-top: 450px;
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

/* 主要內文右半邊開始 */
/* 模組化 */
.news_1200 {
    width: 1200px;
    margin: 0 auto;
}

.btn {
    display: block;
    width: 220px;
  
    border-radius: 8px;
text-align: center;
    margin: 0 auto;
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 18px;
    line-height: 50px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

}

.card {
    border-radius: 8px;
    width: 250px;
    background: rgb(255, 255, 255);
    /* border: 1px solid black; */
    text-align: center;
    margin-bottom: 25px;
    padding-bottom: 15px;
}

/* 模組化結束 */

.card>h3 {
    color: #603922;
    font-size: 28px;
    padding-top: 15px;

}

.card>h4 {
    color: #603922;
    font-size: 18px;
    padding-bottom: 15px;
}

.event1 {
    background: #F5E093;
    color: #603922;

}

.event1:hover {
    background: #603922;
    color: #ffffff;
}

.event2 {
    background: #EDE7CE;
    color: #603922;

}

.event2:hover {
    background: #603922;
    color: #ffffff;

}

.event3 {
    background: #DEEDD0;
    color: #47732C;
}

.event3:hover {
    background: #47732C;
    color: #ffffff;

}

.other1 {
    background: #F5E093;
    color: #603922;

}

.other1:hover {
    background: #603922;
    color: #ffffff;

}

.other2 {
    background: #EDE7CE;
    color: #603922;
}

.other2:hover {
    background: #603922;
    color: #ffffff;
}

.other3 {
    background: #DEEDD0;
    color: #47732C;

}

.other3:hover {
    background: #47732C;
    color: #ffffff;
}

/* 主要內文左半邊開始 */

/* MORE按鈕模組化 */
.news_btn {
    display: block;
    width: 75px;
    height: 30px;
    border: 1px solid #44A341;
    color: #44A341;
    text-align: center;
    font-size: 16px;
    line-height: 30px;
    border-radius: 5px;

}

.news_btn:hover {

    background: #44A341;
    color: #ffffff;

}

/* MORE按鈕模組化 */

.news_flex {
    display: flex;

}

.news_left {
    width: 850px;
    background: rgb(255, 255, 255);
    margin-right: 25px;
    border-radius: 8px;
    padding: 50px;

}

.news_bg {
    display: flex;
    width: 670px;
    /* border: 1px solid black; */
    margin-bottom: 15px;
}

.big_txt {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 10px;
    color: #603922;
}

.big_txt>h3 {
    font-size: 16px;
    opacity: .8;
}

.big_txt>h2 {
    font-size: 26px;
}

.big_txt>p {
    font-size: 16px;
}

.news_small {
    display: flex;
    width: 670px;
    /* border: 1px solid black; */
    margin-bottom: 15px;

}

.sm_txt {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 10px;
    color: #603922;

}

.sm_txt>h3 {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 12px;
    opacity: .8;
}

.sm_txt>h2 {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 500;
}

.sm_txt>p {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 14px;

}

/* 小more按鈕 */
.sm_btn {
    width: 70px;
    height: 25px;
    font-size: 14px;
    line-height: 24px;
}

.fa-solid {
    display: none;
}

@media screen and (max-width:428px) {


    /* BANNER開始 */
    .left_banner {
        width: 100vw;
        margin: 0;
        height: 250px;
        border-radius: 0 0 20px 20PX;
        background-position-x: -140px;
        background-size: cover;
    }

    .right_banner {
        display: none;
    }

    .left_banner>h3 {
        font-size: 18px;
        text-align: center;
        margin-bottom: 10px;

    }

    .left_banner>h2 {
        font-size: 50px;
        margin-bottom: 10px;
        margin-top: 197px;
        text-align: center;
    }

    /* 內文開始 */
    .news_1200 {

        width: calc(100% - 20px);
        /* border: 1px solid black; */


    }

    .news_flex {
        padding-top: 50px;
        /* width: calc(100% - 30px); */
        flex-direction: column;
        margin: 0 auto;
        /* border: 1px solid black; */
    }

    .news_left {
        width: 100%;
        /* border: 1px solid black; */
        margin: 0;
        border-radius: 5px;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 20px;
    }

    .news_bg {
        flex-direction: column;
        width: 100%;
        margin-bottom: 15px;
    }

    /* MORE按鈕 */
    .news_btn {
        display: none;
    }

    /* 原本左邊的 大的*/
    .big_txt>h2 {
        font-size: 20px;
    }

    .big_txt>p {
        font-size: 16px;
    }

    .lost {
        display: none;

    }

    .news_small {
        width: 48%;
        margin-left: 5px;
        flex-direction: column;
  
    }

    .news_small img {
        width: 100%;
        height: auto;

    }
    /* 右半邊 包含活動消息 其他消息等等 */
/* 框住三個按鈕的小卡 */
    .card {
        border-radius: 5px;
        width: 100%;
        margin-bottom: 20px;
        padding-bottom: 10px;
    }
    /* 小卡裡面的文字大小標 */
    .card>h3 {
        font-size: 22px;
        padding-top: 10px;
    
    }
    
    .card>h4 {
        
        font-size: 14px;
        padding-bottom: 5px;
    }
    /* 按鈕 */
    .btn {
       
        width:calc(100% - 60px);
        border-radius: 5px;
        margin-bottom: 10px;
        font-weight:400;
        font-size: 18px;
        line-height: 50px;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    
    }









}