/* banner開始 */
*{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

}
/* .wave_banner_up {
    width: 100%;
    background-image: url("../img/news_bg.png");
    background-repeat: repeat-x;
    background-position: 0 300px;
} */

.main_banner {
    width: 1200px;
    margin: 0 auto;
    display: flex;
}

.left_banner {
    background-image: url("../img/QABG.png");
    width: 1200px;
    height: 600px;
    background-repeat: no-repeat;
    border-radius: 0 0 20px 0;


}

.right_banner {
    display: flex;
}

.right_icon {
    display: flex;
    margin-left: -60px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.right_icon a {
    opacity: 1;
}

.right_icon a:hover {
    opacity: .3;
}

.left_banner h3 {
    color: #44A341;
    font-size: 40px;
    margin-top: -20px;
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;


}

.left_banner h2 {
    color: #44A341;
    font-size: 100px;
    margin-top: 450px;
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
/* 問答內容 */
.qanda1200{
    margin: 0 auto;
    width: 1200px;
}
.qanda{
    margin-left: 50px;
    padding: 20px;
    width: 1040px;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 1px solid #44A341;
    border-radius: 10px;
}
.qa_up{
   
    display: flex;
  
    align-items: center;
    color: black;
    margin-bottom: 20px;
}
.qa_up>img{
    width: 20px;
    height: 20px;
  margin-left: 860px;

}


.qa_down>p{
    background: #F2F2F2;
    color: black;
    /* height: 50px; */
    width: 1000px;
    border-radius: 10px;
    font-size: 20px;
    line-height: 48px;
    padding-left: 10px;


}
.ques1{
    color:#44A341;
    font-size: 30px;
}