/* aos套件 解除滾動卷軸bug */
html, body{
    overflow-x: hidden;
 }
/* banner開始  */
* {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

}

/* 這是後面的波浪 不需要讓它顯示*/
/* .wave_banner_up {
    width: 100%;
    background-image: url("../img/news_bg.png");
    background-repeat: repeat-x;
    background-position: 0 300px;
} */

.main_banner {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    
}

.left_banner {
    background-image: url("../img/QABG.png");
    width: 100%;
    height: 600px;
    margin-left: -7px;
    background-repeat: no-repeat;
    border-radius: 0 0 20px 0;


}

.right_banner {
    display: flex;
}

.right_icon {
    display: flex;
    margin-left: -60px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.right_icon a {
    opacity: 1;
}

.right_icon a:hover {
    opacity: .3;
}

.left_banner h3 {
    color: #44A341;
    font-size: 40px;
    margin-top: -20px;
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
 


}

.left_banner h2 {
    color: #44A341;
    font-size: 100px;
    margin-top: 450px;
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    

}

/* 問答內容 */
.qanda1200 {
    margin: 0 auto;
    /* width: 100%; */
}

.qanda {
    margin: 0 auto;
    
    padding: 10px;
    width: 1200px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid #44A341;
    border-radius: 10px;
    cursor: pointer;

}

.qa_up {

    justify-content: space-between;
    display: flex;
    align-items: center;
    color: black;
    margin-bottom: 5px;

}

/* 下拉箭頭 */
.qa_up>img {
    width: 20px;
    height: 15px;


}

.qa_down {
    display: none;
}

.qa_down>p {
    background: #F2F2F2;
    color: black;
    border-radius: 10px;
    font-size: 20px;
    line-height: 48px;
    padding: 0 10px;


}

.ques1 {
    color: #44A341;
    font-size: 30px;
}

@media screen and (max-width:428px) {

    /* 中間q&a 開始 */
    .qanda {
        margin-right: 10px;
        margin-left: 10px;
        width: auto;
    }

    .qa_down>p {
        margin-top: 10px;
        line-height: 1.8;
        font-size: 14px;
    }

    .ques1 {
        color: #44A341;
        font-size: 20px;
    }

    .qa_up>img {
        width: 15px;
        height: 15px;
    }

    /* BANNER開始 */
    .left_banner {
        width: 100vw;
        margin: 0 auto;
        height: 250px;
        border-radius: 0 0 20px 20PX;
        background-position: center right;
        background-position-x: -140px;
        background-size: cover;


    }

    .right_banner {
        display: none;
    }

    .left_banner h3 {
        font-size: 18px;
text-align: center;
margin-bottom: 10px;

    }

    .left_banner h2 {
        font-size: 50px;
        margin-bottom: 10px;
        margin-top: 197px;
     text-align: center;
    }
    /* 問與答開始 */
    .qanda {
        /* margin: 0 10px; */
      margin-top: 25px;
      margin-bottom: 15px;
       
    }
    
    /* 下拉箭頭 */
    .qa_up>img {
        width: 15px;
        height: 10px;
    }
    
    
    .qa_down>p {
       
        border-radius: 10px;
        font-size: 18px;
        line-height: 36px;
        padding: 0 10px;
    }
    .ques1 {
       font-size: 24px;
    }
}